.header {
  height: $m-xl;
  background-color: $color-white;
  backdrop-filter: blur( $m-xxs );
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 0 $m-sm;

  &__logo {
    position: relative;
    height: $m-xl;
    width: $m-xl * 2;
  }
}
