.button {
  cursor: pointer;
  border-radius: $m-xl;
  padding: $m-sm $m-base;
  font-weight: bold;
  color: $color-bglight;
  display: inline-flex;
  align-items: center;

  &--contained {
    background-color: $color-bglight;
    color: $color-white;
  }
}
