//----- fonts sizes and line-heights -----------------------------------------------------------------------------------
$font-size-base:                  16px;
$font-size-h5:                    $font-size-base * 1.25;
$font-size-h4:                    $font-size-h5 * 1.25;
$font-size-h3:                    $font-size-h4 * 1.25;
$font-size-h2:                    $font-size-h3 * 1.25;
$font-size-h1:                    $font-size-h2 * 1.25;
$font-size-big-paragraph:         18px;

  //----- spacings (margins/paddings) ------------------------------------------------------------------------------------
$m-s:                             5px;
$m-xs:                            8px;
$m-xxs:                           10px;
$m-sm:                            $m-xs * 2;
$m-base:                          $m-xs * 3;
$m-lg:                            $m-base * 2;
$m-xl:                            $m-base * 3;
$m-2xl:                           $m-base * 4;

$login-gateway-width:             356px;
$letter-spacing:                  .15px;

  //----- line heights ---------------------------------------------------------------------------------------------------
$line-height-sm:                  $m-sm;
$line-height-base:                $m-base;
$line-height-lg:                  $m-lg;
$text-area-height:                200px;

  //----- border radiuses ------------------------------------------------------------------------------------------------
$border-radius-s:                 $m-s;
$border-radius-base:              $m-base;
$border-radius-sm:                $m-xs;
$border-radius-lg:                $m-lg;
$border-radius-xl:                $m-xl;

  //----- breakpoints ----------------------------------------------------------------------------------------------------
$grid-breakpoints:                (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);

$grid-columns:                    12;
$grid-gutter-width:               $m-base;

$container:                       map-get($grid-breakpoints, xl);
$post:                            map-get($grid-breakpoints, sm);

  //----- colors ---------------------------------------------------------------------------------------------------------
$color-white:                     #fffefce0;
$color-white-100:                 #fffefc;
$color-white-text:                #ffffffcc;
$color-white-label:               #ffffffa3;
$color-background:                #121212;
$color-dark:                      #282828;
$color-dark-50:                   #28282880;
$color-bglight:                   #202020;
$color-white-45:                  #E1E1E172;
$color-white-26:                  #ffffff42;
$color-white-5:                   #FFFFFF0A;
$color-white-10:                  #FFFFFF1A;
$color-tomato:                    #c99284;
$color-silver:                    #c9c9c9;
$color-silver-50:                 #c9c9c980;
$color-silver-dark:               #8a8a8a;
$color-red:                       #fc6969;
$color-red-dark:                  #a54343;
$color-trend-primary:             #48bd66;
$color-trend-secondary:           #FEC92D;
$color-danger:                    #ff0000;

  //----- fonts ----------------------------------------------------------------------------------------------------------
$font-family-header:              'Rubik';
$font-family-body:                'Nunito Sans';
$font-stack-header:               $font-family-header, sans-serif;
$font-stack-body:                 $font-family-body, serif;

$font-weight-light:               300;
$font-weight-regular:             400;
$font-weight-500:                 500;
$font-weight-600:                 600;
$font-weight-bold:                700;

$icon-size:                       $m-base;

  //----- transitions ----------------------------------------------------------------------------------------------------
$transition-duration:             .4s;
$transition-function:              ease-in-out;

  //----- z-indexes ------------------------------------------------------------------------------------------------------
$z-negative:                      -1;
$z-lower:                         30;
$z-low:                           40;
$z-base:                          50;
$z-high:                          60;
$z-higher:                        70;


$dark-background: #343434 0% 0% no-repeat padding-box;
$font-family: Inter, sans-serif;
$font-family-code-markdown: Consolas, Monaco, "Andale Mono", monospace;
$font-family-default: sans-serif;

@mixin backdrop-blur {
  background-color: $color-white-45;
  backdrop-filter: blur( $m-xxs );
  -webkit-backdrop-filter: blur( $m-xxs );
  border: 1px solid rgba( 255, 255, 255, 0.5 );
}
